<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Ionic Emails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  expand="full" (click)="checkAccount()">Check Account</ion-button>
  <ion-button  expand="full" (click)="captureImage()">Capture Image</ion-button>
  <ion-button  expand="full" (click)="openEmail()">Open Email</ion-button>

  <ion-card>
    <ion-card-header>Current Image</ion-card-header>
    <ion-card-content>
      <img [src]="currentImage" *ngIf="currentImage">
    </ion-card-content>
  </ion-card>
</ion-content>
